body{
  text-align: center;
  background-color: #99ffff;
}

img{
  width:160px;
  height:160px;
}

table{margin-left: 25%;}

span{margin-left: 2%;}

.puntuacion{width: 25px;}

#caja{
  margin-top: 2%;
  margin-bottom: 2%;
}
